body {
    background: lightskyblue;
    font-family: 'PT Serif', serif;
    color: midnightblue;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0 1rem;
    padding: 0 1rem;
}
h1 {
    text-align: center;
    grid-column: 1 / span 2;
}
h2 {
    margin-top: 0;
    color: mintcream;
}
#today {
    padding: 1rem;
    background-color: deepskyblue;
    margin-bottom: 1rem;
    border-radius: 10px;
    grid-column: 1 / span 2;
    border: 1px solid midnightblue;
}
.goal-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.goal-container h3 {
    text-align: center;
    border-bottom: 1px solid midnightblue;
    margin-bottom: 0;
}
.goal-container h3:first-of-type, .goal-container div:first-of-type {
    border-right: 1px solid midnightblue;
}
.stickies {
    display: flex;
}
.goal {
    display: inline-block;
    background: greenyellow;
    padding: 1rem;
    width: 6rem;
    height: 6rem;
    margin: 0.5rem;
    border: 1px solid midnightblue;
}
.status {
    margin-left: 0.5rem;
}
.section-box {
    border: 1px solid midnightblue;
    display: inline-block;
    padding: 1rem;
    background: deepskyblue;
    border-radius: 10px;
}